.ejemploMaps {
  background-color: red;
  font-size: 32px;
  font-weight: bolder; }

.ejemploExtend, .ejemploExtend2 {
  font-size: 32px;
  color: antiquewhite;
  font-weight: bolder; }

.ejemploExtend2 {
  font-family: 'Nunito', sans-serif; }

.ejemploDeMixin {
  font-size: 32px;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  text-align: center; }

.aplicoMixinParametros {
  font-size: 32px;
  text-align: center;
  font-weight: bolder; }

.bodyPrincipal {
  background: #343434;
  font-family: 'Oswald', sans-serif;
  padding: 0;
  color: aliceblue; }

footer {
  background-color: black;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  height: 400px; }

header {
  background-color: black; }
  header p {
    color: aliceblue;
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
    padding-top: 10px; }

.navegadorPrincipal {
  margin-top: 30px;
  display: inline-block; }
  .navegadorPrincipal a {
    color: aliceblue; }
    .navegadorPrincipal a:hover {
      background-color: #343434;
      color: #E6B31E;
      font-weight: bolder; }

.headerPaginas {
  background-color: #343434;
  height: 70px; }
  .headerPaginas a {
    color: aliceblue;
    font-family: 'Nunito', sans-serif;
    font-size: 20px; }

.bodyPaginas {
  background-color: black;
  color: aliceblue;
  font-family: 'Oswald', sans-serif; }

.footerPaginas {
  background-color: #343434;
  color: aliceblue;
  font-size: 2rem;
  font-weight: lighter;
  padding-top: 50px; }
  .footerPaginas h3 {
    font-size: 3rem; }

.contenedorFormulario {
  background-color: #E6B31E;
  width: auto;
  text-align: center;
  border-radius: 4px;
  align-items: center;
  border-radius: 8px;
  border: 2px solid;
  font-family: 'Oswald', sans-serif; }
  .contenedorFormulario h3 {
    color: black;
    font-size: 32px;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif; }
  .contenedorFormulario input {
    width: 50%;
    border-radius: 5px;
    background-color: #343434;
    font-family: 'Nunito', sans-serif;
    color: aliceblue;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase; }
  .contenedorFormulario button {
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #343434;
    text-align: center;
    color: aliceblue;
    font-weight: bolder;
    border-radius: 5px; }

.contenedorItems {
  padding: 2px; }
  .contenedorItems div {
    height: 350px;
    border: solid 1px;
    box-sizing: border-box;
    border-color: #2C3639;
    margin: auto; }

.contenedorMain {
  padding: 70px; }
  .contenedorMain h1 {
    font-size: 3rem;
    margin-bottom: 100px;
    text-align: center; }
